.bg-LinkedInBlue {
    background: #0077B5;
}
.bg-Jet {
    background: #333A4C;
}
.bg-DarkJet {
    background: #212529;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline-color: #D7DEDC !important;
    box-shadow: none;
}

#typedheader {
    font-family: monospace, monospace;
    font-weight: bold;
    font-size: 2.5rem;
    color: #C4554D;
}
.typed-cursor{
    font-family: monospace, monospace;
    font-size: 2.5rem;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}
.hide-lg {
    display: none;
}
.desktop-hidden {
    display: none;
}
@media (max-width: 991.98px) {
    .hide-lg {
        display: block;
    }
    .show-lg {
        display: none;
    }
    #profileimg {
        display: none;
    }
    .mobile-hidden {
        display: none;
    }
    .desktop-hidden {
        display: inline-block;
    }
}
@media (max-width: 575.98px) {
    #mobile-response {
        margin-left: 16px;
        margin-right: 16px;
    }
}