.bg-YlnMnBlue {
    background: #3E517A;
}
.bg-Platinum {
    background: #D7DEDC;
}
.bg-WhiteSmoke {
    background: #F5F3F5;
}
.bg-Jet {
    background: #333A4C;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline-color: #D7DEDC !important;
    box-shadow: none;
}

#typedheader {
    font-family: monospace, monospace;
    font-weight: bold;
    font-size: 2.5rem;
    color: #C4554D;
}
.typed-cursor{
    font-family: monospace, monospace;
    font-size: 2.5rem;
}

@media (max-width: 991px) {
    #profileimg {
        display: none;
    }
}